.bass {
    background-color: #161718;
    margin: 0;
    padding: 0;
    color: #fff;
}
.container {
  margin: 0 auto;
  padding: 0;
}

.jumbotron {
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    background-color: transparent;
    height: 560px;
}

.jumbotron .container {
    max-width: 100%;
}

.header, .header a {
    color: #fff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

img {
    vertical-align: middle;
}

.pull-right {
    float: right!important;
}

.header li {
    display: inline-block;
    margin-left: 13px;
    margin-top: 40px;
}

.header a {
    padding: 15px;
    font-weight: bold;
}

.header .btn-default {
    border: 0px;
    border-radius: 0;
    padding: 8px 30px;
    background-color: #ff003d;
}

.main {
    color: #fff;
}

.main h1 {
    padding-top: 60px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

/*.infobarA, .infobarB, .download {*/
.infobar, .download {
    padding: 70px 30px;
}

h2, .h2 {
    font-size: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.infobarB {
    background-color: #000;
}

.download {
    background: url('../../static/img/feature.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 400px;
}

.download h2 {
    margin-top: 80px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0 35px 0;
}

.footer h3 {
    text-transform: uppercase;
    font-size: 15px;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer a {
    color: #aaa;
    font-size: 13px;
    display: inline-block;
    padding: 5px 0;
}
